Repository googleapis/java-gkehub, pull requests merged in 2021-03, with the labels that each got.

#10 chore: copy README to docfx-yml dir
  .kokoro/release/publish_javadoc11.sh
  grpc-google-cloud-gkehub-v1beta1/pom.xml
  synth.metadata
Labels: api: gkehub, automerge, cla: yes, context: full

#11 build(java): update autorelease title check in response to the new multi release branch changes
  .github/workflows/auto-release.yaml
  synth.metadata
Labels: api: gkehub, automerge, cla: yes, context: full

#9 chore: update gax-java dependency to 1.62
  grpc-google-cloud-gkehub-v1beta1/src/main/java/com/google/cloud/gkehub/v1beta1/GkeHubMembershipServiceGrpc.java
  synth.metadata
Labels: api: gkehub, automerge, cla: yes, context: full

#12 chore: update java microgenerator to 1.0.2 Adds request initialization to sample code
  google-cloud-gkehub/src/main/java/com/google/cloud/gkehub/v1beta1/GkeHubMembershipServiceClient.java
  google-cloud-gkehub/src/test/java/com/google/cloud/gkehub/v1beta1/MockGkeHubMembershipServiceImpl.java
  synth.metadata
Labels: api: gkehub, automerge, cla: yes, context: full, samples, samples

#13 chore: Use correct markdown for code block
  proto-google-cloud-gkehub-v1beta1/src/main/java/com/google/cloud/gkehub/v1beta1/GkeCluster.java
  proto-google-cloud-gkehub-v1beta1/src/main/java/com/google/cloud/gkehub/v1beta1/GkeClusterOrBuilder.java
  proto-google-cloud-gkehub-v1beta1/src/main/proto/google/cloud/gkehub/v1beta1/membership.proto
  synth.metadata
Labels: api: gkehub, automerge, cla: yes, context: full

#16 docs: update README
  README.md
  synth.metadata
Labels: api: gkehub, automerge, cla: yes, context: none

#18 chore: remove README gen from primary synth
  synth.py
Labels: api: gkehub, automerge, cla: yes

#19 docs: update README
  README.md
  synth.metadata
Labels: api: gkehub, automerge, cla: yes, context: none

#20 chore(java): detect sample-secrets in build.sh
  .kokoro/build.sh
  synth.metadata
Labels: api: gkehub, automerge, build.sh, cla: yes, context: full, in, sample-secrets, samples

#21 chore: remove staging bucket v2
  .kokoro/release/publish_javadoc.sh
  synth.metadata
Labels: api: gkehub, automerge, cla: yes, context: full
